

/*************** navbar *****************/
.navbar{
  background-color: black;
}



.search-bar{
  padding-left: 10%;
  padding-right: 10%;
}

.title{
  
}
.live{
  text-align: left;
  padding: 0 0 0 15px;
  color: #E53E3E;
  font-weight: 600;
  margin-bottom: 0;
}

#info{
  margin-top: 20px;
  text-align: center;
  padding: 0 2%;
}
.title{
  width: 100%;
}
h1{
  text-align: left;
  padding-left: 15px;
}
.flex-class{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cards-row{
  width: 100%;
}
.card{
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  border-width: 0;
}
.card-body{
  font-size: 2rem;
  font-weight: 700;
  border-width: 0;
}
.card-footer{
  border-width: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.total-cases .card-body{
  background-color: #FFF5F5;
  color: #E53E3E;
}
.total-cases .card-footer{
  background-color: #FFFFFF;
  color: #E53E3E;
}
.total-recovered .card-body{
  background-color: #F0FFF4;
  color: #38A169;
}
.total-recovered .card-footer{
  background-color: #FFFFFF;
  color: #38A169;
}
.total-deaths .card-body{
  background-color: #EDF2F7;
  color: #718096;
}
.total-deaths .card-footer{
  background-color: #FFFFFF;
  color: #718096;
}




/**********************Table*****************/

.countries-affected{
  width: 100%;
}


.odd-table{
  background-color: #e0fcff;
}
.even-table{
  background-color: #90f2ff;
}
.view-all-link{
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}
.flag-img{
  width: 25px;
}
.country-name{
  text-align: left;
  padding-left: 10px;
}

/***********search****************/

#country-search{
  background-color: pink;
}
.search-btn{
  background-color: green;
}
.search-btn:hover{
  background-color: blue;
}

.search-box{
  padding: 10px 30px;
  margin: 16px 0;
}



/************footer*****************/
footer{
  background-color: chartreuse;
  display: flex;
  justify-content: space-between;
}
.footer-line{
  padding : 30px 15px;
}
.social-icons{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
}