

/*************** navbar *****************/
.navbar{
  background-color: black;
}



.search-bar{
  padding-left: 10%;
  padding-right: 10%;
}

#info{
  margin-top: 20px;
  text-align: center;
  padding: 0 2%;
}
.flex-class{
  justify-content: center;
  align-items: center;
  display: flex;
}
.cards-row{
  width: 100%;
}
.card{
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  border-width: 0;
}
.card-body{
  font-size: 2rem;
  font-weight: 700;
  border-width: 0;
}
.card-footer{
  border-width: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.total-cases .card-body{
  background-color: #FFF5F5;
  color: #E53E3E;
}
.total-cases .card-footer{
  background-color: #FFFFFF;
  color: #E53E3E;
}
.total-recovered .card-body{
  background-color: #F0FFF4;
  color: #38A169;
}
.total-recovered .card-footer{
  background-color: #FFFFFF;
  color: #38A169;
}
.total-deaths .card-body{
  background-color: #EDF2F7;
  color: #718096;
}
.total-deaths .card-footer{
  background-color: #FFFFFF;
  color: #718096;
}




/**********************Table*****************/

.countries-affected{
  width: 100%;
}


.odd-table{
  background-color: #e0fcff;
}
.even-table{
  background-color: #90f2ff;
}
.view-all-link{
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}